%section.b-what-is-this
  .page-header
    %h1 What is this?
  %p
    Gem contains stylesheets and rails helpers which provides simple way to add useful css snippets to your site,
    see examples for details.

%section.b-installation
  .page-header
    %h1 Installation

  In <strong>Rails 3</strong>, add this to your Gemfile and run the bundle command:
  = code 'Gemfile' do
    :coderay
      #!ruby
      gem "css-snippets"

= render 'pages/home/justified_items'
= render 'pages/home/right_menu_liquid_layout'